In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Location.csv',squeeze=True)
location_data=data.copy()
location_data

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [6]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [10]:
location_data.sv=location_data.sort_values(ascending=False)
location_data.sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [11]:
location_data.sv.index

Int64Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
            ...
             904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
           dtype='int64', length=1043)

In [14]:
location_data.sv.sort_index(ascending=True)

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [15]:
location_data_sv=location_data.sv.sort_index(ascending=True)
location_data_sv

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object